html{
    scroll-snap-type: y mandatory;
}

.app{
    display: flex;
    background-color: black;
    justify-content: center;
    height: 100vh;
}

.videos{
    background-color: white;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    width: 80%;
    max-width: 500px;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.videos::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .videos {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }